:root {
--color00: #1c1b19;
--color01: #1c1b19;
--color02: #1c1b19;
--color03: #fbf1c7;
--color04: #fff8e8;
--color05: #f0e4c5;
--color06: #fff8e8;
--color07: #fff8e8;
--color08: #c5564a;
--color09: #ebdbb2;
--color0A: #f7df97;
--color0B: #a89984;
--color0C: #d4bd99;
--color0D: #908d88;
--color0E: #afa499;
--color0F: #d94e38;
}
